<h1>{{title}}</h1>
<div class="container">
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
    </div>
    <br/>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
    </div>
    <br/>
    <div class="form-group col-md-3">
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
    </div>
    <br/>
    <div class="form-group col-md-3">
      <label for="salario">Salario:</label>
      <input type="text" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
    </div>
    <br/>
    <div class="col">
      <input type="submit" value="Agregar" class="btn btn-primary mt-3" (click)="crearEmpleado()">
    </div>
  </form>
</div>
<br/>
<br/>
<app-informacion *ngFor="let empleado of empleados; let i=index" [empleado]="empleado" [i]="i"></app-informacion>
